.header {
    text-align: center;
    padding: 2rem 0;
}

.character-gallery {
    display: flex;
    flex-flow: row wrap;
}

.character-card {
    box-shadow: 10px 20px 15px silver;
    border-radius: 20px;
    width: fit-content;
    margin: 1rem;
    padding: 1rem 2rem;
    flex: 1;
    text-align: center;
    background: #f6f5f5;
}

.character-card:hover {
    transform: scale(1.05);
}